<a style="display: none;" id="content-list-sorter"
   data-request="<?= $this->getEventHandler('onSortContent') ?>"
   data-stripe-load-indicator></a>

<?php foreach ($this->pageContents() as $content): ?>
    <div class="content-panel <?php if ($content->is_hidden) { echo 'content-hidden'; } ?>" data-content-id="<?= $content->id ?>">
        <div class="content-panel-toolbar">
            <h4>
                <a
                   data-control="popup"
                   data-size="giant"
                   data-request-data="content_id: '<?= $content->id ?>'"
                   data-handler="<?= $this->getEventHandler('onEditElement') ?>"
                    >
                    <?= $content->element()->typeLabel() ?>
                </a>

            </h4>
            <a class="icon-trash"
               data-request="<?= $this->getEventHandler('onRemoveElement') ?>"
               data-request-data="content_id: '<?= $content->id ?>', update: '#content-list'"
               data-request-confirm="Are you sure you want to delete this element?"
               data-stripe-load-indicator>
            </a>
            <a class="icon-lightbulb-o"
               data-request="<?= $this->getEventHandler('onHideContent') ?>"
               data-request-data="content_id: '<?= $content->id ?>', update: '#content-list'"
               data-stripe-load-indicator>
            </a>
            <a class="icon-pencil"
               data-control="popup"
               data-size="giant"
               data-request-data="content_id: '<?= $content->id ?>'"
               data-handler="<?= $this->getEventHandler('onEditElement') ?>"
                >
            </a>
            <div class="clearfix"></div>
        </div>
        <div class="content-panel-body">
            <?= $content->renderPreview() ?>
        </div>
    </div>
<?php endforeach ?>

