
<div id="<?= $this->getId('popup') ?>" class="contents-modal" >
<?= Form::open() ?>
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="popup">&times;</button>
        <h4>Editing <?= $content->element()->typeLabel() ?> Element</h4>
    </div>

    <div class="modal-body">
        <?= $formWidget->render() ?>
        <input type="hidden" name="content_id" value="<?= $content->id ?>" />
    </div>
    <div class="modal-footer">
        <div class="form-buttons">
            <div class="loading-indicator-container">
                <button
                    type="submit"
                    class="btn btn-primary"
                    data-request="<?= $this->getEventHandler('onSaveElement') ?>"
                    data-request-data="update: '#content-list'"
                    data-popup-load-indicator>
                    <?= e(trans('backend::lang.form.save')) ?>
                </button>
                <button
                    type="button"
                    class="btn btn-default"
                    data-dismiss="popup">
                    <?= e(trans('backend::lang.form.cancel')) ?>
                </button>
            </div>
        </div>
    </div>
<?= Form::close() ?>
</div>
