<div data-control="toolbar">
    <a
        href="<?= Backend::url('castiron/contentment/pages/create') ?>"
        class="btn btn-primary oc-icon-plus">
        New Page
    </a>
    <button
            class="btn btn-default oc-icon-trash-o"
            disabled="disabled"
            onclick="$(this).data('request-data', {
        checked: $('.control-list').listWidget('getChecked')
    })"
            data-request="onDelete"
            data-request-confirm="<?= e(trans('backend::lang.list.delete_selected_confirm')) ?>"
            data-trigger-action="enable"
            data-trigger=".control-list input[type=checkbox]"
            data-trigger-condition="checked"
            data-request-success="$(this).prop('disabled', false)"
            data-stripe-load-indicator>
        <?= e(trans('backend::lang.list.delete_selected')) ?>
    </button>
    <a
        href="<?= Backend::url('castiron/contentment/pages/reorder') ?>"
        class="btn btn-primary oc-icon-sort">
        Sort pages
    </a>
    <a
            href="<?= Backend::url('castiron/contentment/pages/import') ?>"
            class="btn btn-primary oc-icon-list">
        Import pages
    </a>
    <a
            href="<?= Backend::url('castiron/contentment/pages/export') ?>"
            class="btn btn-primary oc-icon-download">
        Export pages
    </a>
</div>
